body {
    width: 100%;
    height: 100%;
    margin: 0px;
}

#root-div {
    width: 100%;
    height: 100%;
}

#content-panel {
    width: 100%;
}

#content-segments {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
}

#id-segment {
    width: 215px;
    min-width: 215px;
    max-width: 215px;
    height: 100%;
}

.id-item {
    width: 100%;
}

#data-segment {
    width: 100%;
    height: 100%;
}

.max-width {
    width: 100%;
}

.max-height {
    height: 100%;
}
