body {
    width: 100%;
    height: 100%;
    margin: 0px;
}

.max-width {
    width: 100%;
}

.max-height {
    height: 100%;
}

.float-left {
    float: left;
}

#root-div {
    width: 100%;
    height: 100%;
}

#save-btn {
    margin-left: 15px;
}

#content-panel {
    width: 100%;
}

#content-segments {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
}

#id-segment {
    width: 215px;
    min-width: 215px;
    max-width: 215px;
    height: 100%;
}

.id-search {
    width: 100%;
}

.id-entries {
    width: 100%;
}

.id-entry {
    width: 175px;
    margin-top: 50px;
}

#data-segment {
    width: 100%;
    height: 100%;
}

#msg-box {
    position: absolute;
}

#pop-layer {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    visibility: hidden;
}

.pop-menu {
    position: absolute;
}